*{
    box-sizing: border-box;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 305px;
    height: 210px;
    cursor: pointer;
    /* box-shadow: var(--clr-fontprimary) 0px 2px 8px 0px; */
    /* padding: 5px 5px 0 5px; */
    
}

.front-back{
    position: relative;
    width: 100%;
    height: 210px;
    display: flex;
    justify-content: center;
    overflow: visible;
    transform-style: preserve-3d;
    transform: scale(1); 
    transition: all ease 1s;
    /* box-shadow: var(--clr-fontprimary) 0px 2px 8px 0px; */
    border: 1px solid gray;
    border-radius: 6px;

}

.front-back:hover{
    transform: rotateY(180deg);
}


.front{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    backface-visibility: hidden;
    transform:translate3d(0,0,0);
}

.back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.card-info{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #201a318c;
    
    /* transform-style: preserve-3d; */
}


.card-img{
    height: 100%;
    width: 100%;
    border-radius: 6px;
}

.card-img img{
    width: 100%;
    height: 100%;
}

.card-img-back{
    height: 100%;
    border-radius: 6px;
}

.card-img-back img{
    width: 100%;
    height: 100%;
}

.about{
    margin: 0;
    padding-top: 6px;
    color: var(--clr-fontprimary);
}

.link{
    color: var(--clr-fontprimary);
}

hr{
    background-color: #cbc5c5;
    height: 1px;
    border: none;
    margin: 3.5px;
}