.resume {
    width: 80%;
    margin: 100px auto;
    padding-top: 50px;
    padding-bottom: 100px;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

.resume h1,p{
    margin: 0 0;
    color: var(--clr-fontprimary);
}

.resume .resume-hero {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 60px;
}

.resume-left {
    display: flex;

}

.labels-icons {
    background-color: var(--clr-divbg);
}

.skill-group{
    margin: 10px 0;
}


.resume .labels-icons svg {
    display: flex;
    flex-direction: column;
    margin: 15px 2px;
    padding: 5px 5px 5px 5px;
    text-align: left;
    color: var(--clr-fontprimary);
    border-radius: 25px;
}

.labels div{
    color: var(--clr-fontprimary);
}

.active-label {
    color: var(--clr-fontprimary) !important;
    background-color: var(--clr-divbg);
}

.resume .resume-left .labels div {
    margin: 15px 0px;
    padding: 5px 25px 5px 20px;
    text-align: left;
    color: var(--clr-fontprimary);
    /* background-color: black; */
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
}

.resume-right {
    /* border: 1px solid red; */
    width: 45vw;
    padding-left: 10px;

}


.progress-bar div{
    /* border: 1px solid red; */
    /* background-color: tomato; */
}

.resume-right li {
    text-align: left;
}

.resume-right .year {
    text-align: right;
    padding: 3px 8px;
    border-radius: 25px;
    background-color: var(--clr-divbg);
    color: var(--clr-fontprimary);
}



.li-item {
    color: var(--clr-fontprimary);
    display: flex;
    justify-content: space-between;
    list-style: disc;
    margin-top: 10px;
}

 .i{
    color: var(--clr-fontprimary);
}

.disc-label {
    display: flex;
}

.disc-label img {
    width: 23px;
}

.sub-li {
    color: var(--clr-fontprimary);
}

.box {
    display: flex;
    gap: 45px;
}

.resume-right .box .column {
    width: 48%;
}

.resume-right .box .column div {
    margin: 20px 2px;
}