*{
    box-sizing: border-box;
}

.home{
    margin: 0;
    padding: 0;
    color: white;
}

.home{
    background-image: url('../../Assets/Images/bg.jpg');
    background-size: cover;
}

.home .header{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

.home .header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.home .header ul li {
    cursor: pointer;
    padding: 4px 6px;
    margin: 2px 20px;
    transition: ease-in 0.3s;
}

.home .header ul li:hover {
    background-color: tomato;
}


.active-link{
    background-color: tomato;
}

.home a{
    text-decoration: none;
    color:white;
}
.home .hero{
    margin-top: 70px;
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: center;
}

.home .hero button{
    cursor: pointer;
}

.home .hero .buttons button:hover{
    background-color: white;
    color: black;
}

.home .hero .buttons button:hover a{
    color: black;
}

.home .hero .social > a{
    margin: 0 4px;
}
.home .hero .social > a{
    text-decoration: none;
    color: inherit;
}

.home .hero .info p{
    padding: 2px 2px;
}

.home .firstp{
    margin-top: 5px;
    font-family: fantasy;
    font-size: 13px;
    letter-spacing: 1px;

}

.home .secondp{
    margin-top: 5px;
    font-family: ui-serif;
    font-size: 26px;
}

.home .thirdp{
    font-size: smaller;
    margin-top: 5px;
}

.home .buttons{
    margin-top: 5px;
}

.home .hero .buttons button{
    padding: 5px 15px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 12px;
    margin: 5px;
}

.home .right{
    width: 17rem;
    height: 17rem;
}

.home .right img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@media screen {
    
}