*{
    box-sizing: border-box;
    overflow-x: hidden;
}

.home{
    margin: 0;
    padding: 0;
    color: white;
    /* border: 1px solid black; */
}

/* .home{
    background-image: url('../../Assets/Images/bg4.avif');
    background-size: cover;
} */

.home::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-image:  url('../../Assets/Images/bg.jpg'); /*Put your image url*/
        background-size: cover;
        background-position: center;
        opacity: 0.9; /*Value from 0.0 to 1.0*/
    
}

.home .header{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

.home .my-name{
    color: var(--clr-fontprimary);
}

.home .header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.home .header ul li {
    cursor: pointer;
    padding: 4px 6px;
    margin: 2px 20px;
    transition: ease-in 0.3s;
    color: var(--clr-fontprimary);
}

.home .header ul li:hover {
    background-color: var(--clr-bghighlight);
}


.active-link{
    background-color: var(--clr-bghighlight);
}

.home a{
    text-decoration: none;
    color:white;
}
.home .hero{
    height: 90%;
    margin-top: -80px;
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: center;
}

.styled-name{
    color: var(--clr-fonthighlight);
}

.home .hero button{
    cursor: pointer;
}

.home .hero .buttons button:hover{
    background-color: white;
    color: black;
    /* transform: scale(0); */
    transition:  .5s ease;
    
}

.home .hero .buttons button:hover a{
    color: black;
}

.home .hero .social > a{
    margin: 0 4px;
    color: var(--clr-fontprimary);
}
.home .hero .social > a{
    text-decoration: none;
    /* color: inherit; */
    transform: scale(0);
    transition: transform .5s ease;
}

.home .social svg:hover{
    transform: scale(1.2);
    transition: transform .5s ease;
}

.home .hero .info p{
    padding: 2px 2px;
}

.home .firstp{
    margin-top: 5px;
    font-family: fantasy;
    font-size: 13px;
    letter-spacing: 1px;
    color: var(--clr-fontprimary);

}

.typed-animation{
    color: var(--clr-fontprimary);
}

.home .secondp{
    margin-top: 5px;
    font-family: ui-serif;
    font-size: 26px;
}

.home .thirdp{
    color: var(--clr-fontprimary);
    font-size: smaller;
    margin-top: 5px;
}

.home .buttons{
    margin-top: 10px;
}

.home .hero .buttons button{
    padding: 5px 15px;
    background-color: transparent;
    color: var(--clr-fontprimary);
    border: 1px solid var(--clr-fontprimary);
    border-radius: 12px;
    margin: 5px;
    /* transform: scale(0); */
    transition: .5s ease;
}

.home .hero .buttons a{
    color: var(--clr-fontprimary);
}

.home .right{
    width: 17rem;
    height: 17rem;
    overflow: hidden;
}

.home .right img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.skills{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    position: absolute;
    top: 70%;
    left: 27%;
}

.skills img{
    width: 60px;
    height: 60px;
    /* margin-right: 100px; */
}

@media only screen and (max-width:1100px) {

    .home .header{
        width: 90%;
        gap: 50px;
    }

    .skills{
        left: 15%;
    }
    
}

@media only screen and (max-width:890px) {

    .home .header{
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .skills{
        
        left: 12%;
    }
    
    .skills img{
        width: 50px;
        height: 50px;
        /* margin-right: 100px; */
    }
    
}

@media only screen and (max-width:600px) {
    .home .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    .home .header ul{
        padding: 1px;
    }

    .home .header ul li {
        cursor: pointer;
        padding: 2px 3px;
        margin: 2px 6px;
        transition: ease-in 0.3s;
    }

    .hero{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .skills{
        gap: 10px;
        top: 88%;
        left: 25%;
    }
    
    .skills img{
        width: 40px;
        height: 40px;
        /* margin-right: 100px; */
    }
}